:root{
    --dh-sidebar:#051e34;
    --dh-img: url(./assets/img/sidebar-bg.png);
    --dh-navbar-heigt: 4rem;
}

.h_4{
    height: var(--dh-navbar-heigt);
}

header {

    .my_dropdown {
        right: 1.5rem !important;
        top: 2.5rem;
    }

    @media (max-width: 576px) {


        ::placeholder {
            font-size: 0.6rem;
        }
    }
}

.sidebar{
    height: calc(100vh - var(--dh-navbar-heigt));
    width: min-content;
    background-color: var(--dh-sidebar);
}

.banner{

    & span {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        border-radius: 1rem;
        font-weight: 400;
    }
}